# MkDocs output
site/

# R history and temporary files
.Rhistory
*.RData
*.Ruserdata
.Rproj.user/

# Python/Pip caches
__pycache__/
.cache/

# System files
.DS_Store
Thumbs.db

# --- PRIVATE FOLDERS ---
# Anything inside these folders will NEVER be uploaded to GitHub
personal/
scratch/
private/

# Specific private files (add others as needed)
*.pdf
my_table.html
my_table_files/
test.r
